* {
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    margin: 0;
    height: 100vh;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background: #ffffff;
    padding: 2rem;
    width: 320px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.login-container h1 {
    margin-bottom: 1.5rem;
    text-align: center;
    color: #111;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group input {
    padding: 0.6rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin: 0.6rem;
}

.input-group input:focus {
    outline: none;
    border-color: #000;
}

.btn-group {
    display: flex;
    flex-direction: column;
}

button {
    margin-top: 1rem;
    padding: 0.7rem;
    border: none;
    border-radius: 6px;
    background: green;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background: #222;
}
